html {
  overflow-x: hidden;
}

#starContainer {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 479px 907px #fff, 158px 53px #fff, 992px 20px #fff,
    1921px 1546px #fff, 546px 44px #fff, 815px 894px #fff, 1914px 1355px #fff,
    880px 1068px #fff, 504px 186px #fff, 1705px 297px #fff, 941px 993px #fff,
    1116px 839px #fff, 983px 1577px #fff, 1536px 92px #fff, 1165px 1745px #fff,
    395px 1135px #fff, 622px 1882px #fff, 1645px 542px #fff, 785px 1424px #fff,
    1840px 1453px #fff, 211px 1921px #fff, 1429px 1092px #fff, 592px 1571px #fff,
    1457px 1941px #fff, 1931px 1772px #fff, 1127px 275px #fff, 1971px 426px #fff,
    1704px 743px #fff, 1980px 1554px #fff, 90px 552px #fff, 594px 441px #fff,
    793px 522px #fff, 974px 234px #fff, 746px 1981px #fff, 1515px 478px #fff,
    1245px 709px #fff, 553px 1337px #fff, 1637px 668px #fff, 406px 787px #fff,
    1947px 1321px #fff, 553px 175px #fff, 365px 1442px #fff, 1242px 26px #fff,
    1564px 1105px #fff, 1494px 653px #fff, 107px 956px #fff, 592px 513px #fff,
    757px 383px #fff, 703px 1922px #fff, 1323px 1482px #fff, 1781px 1773px #fff,
    469px 741px #fff, 1654px 1890px #fff, 409px 711px #fff, 527px 696px #fff,
    1183px 313px #fff, 1256px 1355px #fff, 326px 1315px #fff, 1712px 1767px #fff,
    1062px 761px #fff, 291px 1934px #fff, 1429px 69px #fff, 1145px 1640px #fff,
    484px 1222px #fff, 1006px 1547px #fff, 319px 1339px #fff, 1658px 1321px #fff,
    1242px 458px #fff, 1540px 780px #fff, 288px 1725px #fff, 171px 772px #fff,
    303px 1934px #fff, 1712px 1347px #fff, 1632px 1742px #fff, 544px 1056px #fff,
    1900px 1326px #fff, 748px 1964px #fff, 1057px 953px #fff, 545px 1752px #fff,
    1045px 390px #fff, 851px 951px #fff, 1618px 1823px #fff, 104px 1642px #fff,
    1927px 224px #fff, 311px 39px #fff, 1906px 1583px #fff, 1107px 1431px #fff,
    751px 815px #fff, 1803px 1087px #fff, 788px 1195px #fff, 466px 799px #fff,
    1713px 961px #fff, 1815px 632px #fff, 1886px 1508px #fff, 172px 1079px #fff,
    1533px 765px #fff, 377px 933px #fff, 1279px 1473px #fff, 1108px 782px #fff,
    453px 272px #fff, 1975px 1636px #fff, 1057px 1383px #fff, 1631px 1353px #fff,
    368px 115px #fff, 1745px 1863px #fff, 708px 456px #fff, 1653px 827px #fff,
    307px 1693px #fff, 220px 2px #fff, 698px 590px #fff, 1347px 1832px #fff,
    822px 1507px #fff, 974px 1286px #fff, 631px 464px #fff, 1307px 826px #fff,
    1754px 584px #fff, 1520px 656px #fff, 487px 1492px #fff, 149px 540px #fff,
    627px 1033px #fff, 1637px 1212px #fff, 1635px 128px #fff, 888px 316px #fff,
    1380px 440px #fff, 801px 995px #fff, 601px 651px #fff, 1673px 829px #fff,
    192px 1156px #fff, 1271px 1588px #fff, 1966px 1253px #fff, 151px 1316px #fff,
    1097px 656px #fff, 1689px 1612px #fff, 359px 732px #fff, 512px 1109px #fff,
    1182px 617px #fff, 337px 815px #fff, 1295px 45px #fff, 810px 498px #fff,
    793px 27px #fff, 1503px 196px #fff, 478px 52px #fff, 1619px 1244px #fff,
    1558px 772px #fff, 1375px 1549px #fff, 1098px 431px #fff, 1355px 896px #fff,
    1180px 1926px #fff, 857px 372px #fff, 1359px 790px #fff, 395px 648px #fff,
    54px 1651px #fff, 116px 230px #fff, 1432px 604px #fff, 1838px 1463px #fff,
    83px 1266px #fff, 793px 1173px #fff, 1239px 176px #fff, 907px 932px #fff,
    1859px 71px #fff, 1981px 910px #fff, 1119px 1321px #fff, 1049px 709px #fff,
    1620px 1330px #fff, 658px 638px #fff, 1385px 919px #fff, 1775px 1228px #fff,
    1676px 972px #fff, 638px 912px #fff, 550px 695px #fff, 874px 1031px #fff,
    265px 857px #fff, 1540px 723px #fff, 1724px 430px #fff, 75px 1735px #fff,
    878px 433px #fff, 1611px 1431px #fff, 1795px 612px #fff, 1261px 1098px #fff,
    616px 1887px #fff, 1772px 452px #fff, 1164px 113px #fff, 391px 1729px #fff,
    1166px 1668px #fff, 904px 915px #fff, 1869px 644px #fff, 174px 1650px #fff,
    849px 624px #fff, 582px 947px #fff, 238px 948px #fff, 1787px 789px #fff,
    1083px 1315px #fff, 839px 531px #fff, 246px 1516px #fff, 875px 275px #fff,
    561px 1499px #fff, 1455px 523px #fff, 1053px 289px #fff, 1208px 918px #fff,
    1119px 1793px #fff, 1916px 1713px #fff, 1741px 770px #fff, 70px 1623px #fff,
    994px 385px #fff, 1552px 296px #fff, 1412px 1107px #fff, 1668px 1872px #fff,
    1153px 1785px #fff, 1953px 648px #fff, 1486px 1399px #fff, 1806px 479px #fff,
    1865px 1495px #fff, 1147px 1822px #fff, 1354px 1703px #fff,
    1076px 776px #fff, 1221px 1019px #fff, 1423px 1695px #fff,
    1017px 1355px #fff, 310px 308px #fff, 1115px 1032px #fff, 1611px 953px #fff,
    1077px 1812px #fff, 1004px 893px #fff, 177px 672px #fff, 1869px 1390px #fff,
    445px 1771px #fff, 1990px 750px #fff, 166px 608px #fff, 913px 527px #fff,
    739px 127px #fff, 54px 575px #fff, 899px 1110px #fff, 91px 1209px #fff,
    1881px 67px #fff, 1900px 777px #fff, 925px 959px #fff, 715px 152px #fff,
    548px 1358px #fff, 256px 1351px #fff, 1183px 327px #fff, 846px 768px #fff,
    960px 912px #fff, 1666px 1918px #fff, 139px 769px #fff, 579px 1774px #fff,
    1508px 1780px #fff, 975px 1516px #fff, 198px 1352px #fff, 1097px 894px #fff,
    78px 1486px #fff, 1037px 1183px #fff, 287px 1064px #fff, 141px 650px #fff,
    748px 930px #fff, 1731px 487px #fff, 1376px 1898px #fff, 801px 473px #fff,
    1442px 575px #fff, 1154px 1015px #fff, 1738px 1958px #fff, 16px 1903px #fff,
    1254px 1160px #fff, 425px 308px #fff, 889px 792px #fff, 414px 396px #fff,
    1438px 500px #fff, 1918px 691px #fff, 1759px 775px #fff, 772px 1617px #fff,
    1054px 233px #fff, 1880px 1951px #fff, 1087px 954px #fff, 1530px 446px #fff,
    1883px 698px #fff, 1824px 1983px #fff, 1433px 778px #fff, 1470px 1896px #fff,
    143px 627px #fff, 1062px 1225px #fff, 897px 1551px #fff, 224px 1468px #fff,
    631px 173px #fff, 1120px 476px #fff, 569px 1490px #fff, 244px 891px #fff,
    1626px 1868px #fff, 497px 1569px #fff, 498px 1398px #fff, 95px 1561px #fff,
    934px 657px #fff, 101px 353px #fff, 221px 1431px #fff, 1407px 1424px #fff,
    888px 1283px #fff, 1910px 1148px #fff, 81px 292px #fff, 1802px 383px #fff,
    1196px 626px #fff, 854px 1876px #fff, 544px 529px #fff, 1882px 1115px #fff,
    1124px 1268px #fff, 424px 70px #fff, 567px 310px #fff, 1659px 550px #fff,
    1484px 714px #fff, 72px 497px #fff, 1109px 1088px #fff, 1415px 1780px #fff,
    1877px 486px #fff, 1349px 1151px #fff, 491px 336px #fff, 380px 1675px #fff,
    889px 1985px #fff, 127px 274px #fff, 1638px 797px #fff, 437px 807px #fff,
    183px 1421px #fff, 1153px 1381px #fff, 653px 1805px #fff, 1666px 1763px #fff,
    1418px 1676px #fff, 1444px 1763px #fff, 1115px 31px #fff, 1305px 628px #fff,
    1464px 406px #fff, 1769px 1227px #fff, 1169px 224px #fff, 1213px 1155px #fff,
    1213px 1833px #fff, 14px 865px #fff, 1773px 797px #fff, 1063px 1685px #fff,
    756px 1379px #fff, 1867px 1414px #fff, 207px 1941px #fff, 549px 1410px #fff,
    447px 1609px #fff, 380px 199px #fff, 1969px 993px #fff, 756px 594px #fff,
    384px 1507px #fff, 949px 327px #fff, 1610px 1483px #fff, 456px 1729px #fff,
    576px 1052px #fff, 1202px 1451px #fff, 462px 638px #fff, 316px 1422px #fff,
    1925px 20px #fff, 1246px 1177px #fff, 1182px 269px #fff, 1074px 394px #fff,
    1338px 1499px #fff, 1854px 1197px #fff, 1850px 585px #fff,
    1478px 1414px #fff, 1253px 208px #fff, 381px 83px #fff, 51px 787px #fff,
    1746px 538px #fff, 612px 899px #fff, 1590px 1436px #fff, 1026px 401px #fff,
    161px 680px #fff, 1306px 1416px #fff, 1168px 287px #fff, 436px 499px #fff,
    870px 1933px #fff, 1991px 1233px #fff, 127px 1316px #fff, 1587px 1880px #fff,
    395px 589px #fff, 1629px 851px #fff, 1239px 968px #fff, 1078px 48px #fff,
    1009px 17px #fff, 1492px 518px #fff, 91px 1119px #fff, 347px 760px #fff,
    863px 995px #fff, 658px 1912px #fff, 77px 1536px #fff, 1204px 838px #fff,
    1528px 1617px #fff, 242px 228px #fff, 1393px 180px #fff, 357px 1757px #fff,
    490px 882px #fff, 457px 1034px #fff, 1743px 882px #fff, 993px 515px #fff,
    1954px 651px #fff, 700px 630px #fff, 313px 1373px #fff, 1563px 175px #fff,
    889px 1601px #fff, 1086px 1770px #fff, 924px 1213px #fff, 1072px 429px #fff,
    1011px 1633px #fff, 544px 187px #fff, 496px 1564px #fff, 1496px 304px #fff,
    464px 1418px #fff, 715px 49px #fff, 1026px 1449px #fff, 896px 444px #fff,
    1961px 1358px #fff, 1969px 1143px #fff, 1679px 290px #fff,
    1028px 1555px #fff, 413px 939px #fff, 1137px 1010px #fff, 613px 1111px #fff,
    1443px 559px #fff, 340px 1856px #fff, 1970px 806px #fff, 865px 55px #fff,
    707px 909px #fff, 470px 121px #fff, 1679px 333px #fff, 1823px 571px #fff,
    365px 196px #fff, 495px 1290px #fff, 387px 676px #fff, 167px 663px #fff,
    774px 954px #fff, 565px 1744px #fff, 615px 402px #fff, 52px 603px #fff,
    440px 1601px #fff, 695px 1659px #fff, 829px 1073px #fff, 1450px 343px #fff,
    407px 1373px #fff, 419px 450px #fff, 1251px 938px #fff, 734px 1680px #fff,
    434px 915px #fff, 1009px 241px #fff, 1219px 1025px #fff, 325px 752px #fff,
    1455px 176px #fff, 159px 1832px #fff, 815px 6px #fff, 929px 1287px #fff,
    1498px 1124px #fff, 1560px 506px #fff, 1039px 1494px #fff, 57px 406px #fff,
    1478px 1319px #fff, 865px 284px #fff, 1669px 1624px #fff, 1205px 1778px #fff,
    248px 1267px #fff, 295px 1692px #fff, 1254px 1087px #fff, 1497px 1868px #fff,
    210px 358px #fff, 1008px 673px #fff, 1971px 1725px #fff, 895px 1988px #fff,
    1122px 1750px #fff, 1575px 855px #fff, 2000px 1493px #fff,
    1638px 1125px #fff, 1829px 808px #fff, 1232px 1177px #fff, 974px 1275px #fff,
    586px 908px #fff, 1565px 590px #fff, 1716px 869px #fff, 515px 851px #fff,
    534px 705px #fff, 1400px 1798px #fff, 1675px 817px #fff, 1715px 806px #fff,
    724px 541px #fff, 105px 821px #fff, 1987px 1004px #fff, 497px 1376px #fff,
    1497px 121px #fff, 879px 1468px #fff, 358px 1594px #fff, 1857px 1016px #fff,
    1298px 1795px #fff, 1194px 1143px #fff, 1129px 1486px #fff,
    887px 1210px #fff, 1375px 1267px #fff, 1781px 1215px #fff,
    1487px 1302px #fff, 756px 142px #fff, 826px 1403px #fff, 762px 1104px #fff,
    1724px 49px #fff, 740px 956px #fff, 970px 737px #fff, 784px 473px #fff,
    313px 1422px #fff, 1036px 327px #fff, 975px 949px #fff, 1082px 1495px #fff,
    727px 382px #fff, 1828px 1570px #fff, 527px 1506px #fff, 385px 170px #fff,
    1654px 481px #fff, 1472px 1739px #fff, 1712px 759px #fff, 108px 1597px #fff,
    1968px 987px #fff, 731px 571px #fff, 1161px 110px #fff, 592px 733px #fff,
    1481px 1176px #fff, 1259px 1637px #fff, 1716px 745px #fff, 287px 1821px #fff,
    908px 991px #fff, 604px 692px #fff, 686px 1682px #fff, 1328px 1319px #fff,
    1347px 213px #fff, 1525px 1939px #fff, 887px 1802px #fff, 1491px 883px #fff,
    414px 336px #fff, 929px 642px #fff, 1597px 1732px #fff, 575px 878px #fff,
    1483px 17px #fff, 1255px 1274px #fff, 1350px 1031px #fff, 142px 466px #fff,
    1240px 1663px #fff, 1074px 707px #fff, 1036px 586px #fff, 1045px 929px #fff,
    343px 545px #fff, 1642px 1727px #fff, 1048px 1145px #fff, 681px 756px #fff,
    1275px 445px #fff, 58px 166px #fff, 308px 1386px #fff, 85px 1687px #fff,
    1px 1809px #fff, 1430px 1496px #fff, 536px 1912px #fff, 1218px 271px #fff,
    1225px 1623px #fff, 1521px 199px #fff, 297px 542px #fff, 882px 350px #fff,
    68px 756px #fff, 1369px 521px #fff, 1572px 806px #fff, 1791px 1591px #fff,
    515px 233px #fff, 482px 809px #fff, 214px 568px #fff, 1459px 1856px #fff,
    624px 334px #fff, 1064px 1518px #fff, 989px 216px #fff, 667px 564px #fff,
    899px 860px #fff, 436px 1764px #fff, 1737px 1684px #fff, 1987px 349px #fff,
    1395px 15px #fff, 1722px 1672px #fff, 1508px 1133px #fff, 1961px 1941px #fff,
    652px 1041px #fff, 758px 902px #fff, 473px 1577px #fff, 1354px 841px #fff,
    1625px 578px #fff, 890px 510px #fff, 1834px 1091px #fff, 1434px 1495px #fff,
    1104px 649px #fff, 637px 1817px #fff, 760px 1888px #fff, 1273px 1865px #fff,
    1073px 808px #fff, 445px 1px #fff, 1342px 413px #fff, 65px 686px #fff,
    482px 543px #fff, 1324px 1097px #fff, 1022px 885px #fff, 182px 1293px #fff,
    162px 1537px #fff, 910px 1412px #fff, 1776px 1593px #fff, 929px 494px #fff,
    1407px 1847px #fff, 370px 1891px #fff, 825px 74px #fff, 927px 1780px #fff,
    173px 1014px #fff, 724px 549px #fff, 740px 1949px #fff, 442px 1488px #fff,
    492px 1314px #fff, 1598px 897px #fff, 1050px 1399px #fff, 152px 789px #fff,
    646px 38px #fff, 585px 485px #fff, 178px 1645px #fff, 849px 101px #fff,
    1694px 3px #fff, 1813px 1585px #fff, 696px 974px #fff, 59px 1589px #fff,
    1319px 1085px #fff, 962px 1112px #fff, 516px 134px #fff, 984px 94px #fff,
    1156px 412px #fff, 881px 1900px #fff, 1466px 1523px #fff, 273px 805px #fff,
    287px 487px #fff, 1144px 111px #fff, 848px 454px #fff, 362px 877px #fff,
    1799px 945px #fff, 1741px 1474px #fff, 1539px 1910px #fff,
    1417px 1902px #fff, 901px 954px #fff, 1115px 23px #fff, 83px 1389px #fff,
    1573px 1813px #fff, 1178px 137px #fff, 1497px 1890px #fff, 540px 1464px #fff,
    445px 1354px #fff, 542px 1732px #fff, 206px 1312px #fff, 1625px 953px #fff,
    620px 1650px #fff, 101px 400px #fff, 1719px 1157px #fff, 991px 933px #fff,
    28px 1165px #fff, 908px 453px #fff, 817px 1697px #fff, 20px 1312px #fff,
    34px 159px #fff, 1952px 34px #fff, 1283px 62px #fff, 28px 1401px #fff,
    1046px 52px #fff, 1839px 1203px #fff, 1434px 19px #fff, 171px 1980px #fff,
    1479px 1421px #fff, 1089px 648px #fff, 1832px 642px #fff, 41px 1021px #fff,
    1696px 1014px #fff, 1743px 40px #fff, 1889px 1462px #fff, 972px 1257px #fff,
    1912px 886px #fff, 1958px 1091px #fff, 738px 1699px #fff, 839px 58px #fff,
    1792px 1489px #fff, 357px 924px #fff, 194px 764px #fff, 1927px 88px #fff,
    1500px 719px #fff, 1089px 336px #fff, 1988px 9px #fff, 1276px 748px #fff,
    828px 1453px #fff, 83px 1064px #fff, 1422px 1789px #fff, 1071px 971px #fff,
    559px 1540px #fff, 1797px 687px #fff, 1010px 509px #fff, 470px 1321px #fff,
    922px 339px #fff, 1295px 909px #fff, 1798px 654px #fff, 1996px 41px #fff,
    1901px 349px #fff, 1985px 1618px #fff, 1737px 822px #fff, 112px 1079px #fff,
    1787px 25px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 479px 907px #fff, 158px 53px #fff, 992px 20px #fff,
    1921px 1546px #fff, 546px 44px #fff, 815px 894px #fff, 1914px 1355px #fff,
    880px 1068px #fff, 504px 186px #fff, 1705px 297px #fff, 941px 993px #fff,
    1116px 839px #fff, 983px 1577px #fff, 1536px 92px #fff, 1165px 1745px #fff,
    395px 1135px #fff, 622px 1882px #fff, 1645px 542px #fff, 785px 1424px #fff,
    1840px 1453px #fff, 211px 1921px #fff, 1429px 1092px #fff, 592px 1571px #fff,
    1457px 1941px #fff, 1931px 1772px #fff, 1127px 275px #fff, 1971px 426px #fff,
    1704px 743px #fff, 1980px 1554px #fff, 90px 552px #fff, 594px 441px #fff,
    793px 522px #fff, 974px 234px #fff, 746px 1981px #fff, 1515px 478px #fff,
    1245px 709px #fff, 553px 1337px #fff, 1637px 668px #fff, 406px 787px #fff,
    1947px 1321px #fff, 553px 175px #fff, 365px 1442px #fff, 1242px 26px #fff,
    1564px 1105px #fff, 1494px 653px #fff, 107px 956px #fff, 592px 513px #fff,
    757px 383px #fff, 703px 1922px #fff, 1323px 1482px #fff, 1781px 1773px #fff,
    469px 741px #fff, 1654px 1890px #fff, 409px 711px #fff, 527px 696px #fff,
    1183px 313px #fff, 1256px 1355px #fff, 326px 1315px #fff, 1712px 1767px #fff,
    1062px 761px #fff, 291px 1934px #fff, 1429px 69px #fff, 1145px 1640px #fff,
    484px 1222px #fff, 1006px 1547px #fff, 319px 1339px #fff, 1658px 1321px #fff,
    1242px 458px #fff, 1540px 780px #fff, 288px 1725px #fff, 171px 772px #fff,
    303px 1934px #fff, 1712px 1347px #fff, 1632px 1742px #fff, 544px 1056px #fff,
    1900px 1326px #fff, 748px 1964px #fff, 1057px 953px #fff, 545px 1752px #fff,
    1045px 390px #fff, 851px 951px #fff, 1618px 1823px #fff, 104px 1642px #fff,
    1927px 224px #fff, 311px 39px #fff, 1906px 1583px #fff, 1107px 1431px #fff,
    751px 815px #fff, 1803px 1087px #fff, 788px 1195px #fff, 466px 799px #fff,
    1713px 961px #fff, 1815px 632px #fff, 1886px 1508px #fff, 172px 1079px #fff,
    1533px 765px #fff, 377px 933px #fff, 1279px 1473px #fff, 1108px 782px #fff,
    453px 272px #fff, 1975px 1636px #fff, 1057px 1383px #fff, 1631px 1353px #fff,
    368px 115px #fff, 1745px 1863px #fff, 708px 456px #fff, 1653px 827px #fff,
    307px 1693px #fff, 220px 2px #fff, 698px 590px #fff, 1347px 1832px #fff,
    822px 1507px #fff, 974px 1286px #fff, 631px 464px #fff, 1307px 826px #fff,
    1754px 584px #fff, 1520px 656px #fff, 487px 1492px #fff, 149px 540px #fff,
    627px 1033px #fff, 1637px 1212px #fff, 1635px 128px #fff, 888px 316px #fff,
    1380px 440px #fff, 801px 995px #fff, 601px 651px #fff, 1673px 829px #fff,
    192px 1156px #fff, 1271px 1588px #fff, 1966px 1253px #fff, 151px 1316px #fff,
    1097px 656px #fff, 1689px 1612px #fff, 359px 732px #fff, 512px 1109px #fff,
    1182px 617px #fff, 337px 815px #fff, 1295px 45px #fff, 810px 498px #fff,
    793px 27px #fff, 1503px 196px #fff, 478px 52px #fff, 1619px 1244px #fff,
    1558px 772px #fff, 1375px 1549px #fff, 1098px 431px #fff, 1355px 896px #fff,
    1180px 1926px #fff, 857px 372px #fff, 1359px 790px #fff, 395px 648px #fff,
    54px 1651px #fff, 116px 230px #fff, 1432px 604px #fff, 1838px 1463px #fff,
    83px 1266px #fff, 793px 1173px #fff, 1239px 176px #fff, 907px 932px #fff,
    1859px 71px #fff, 1981px 910px #fff, 1119px 1321px #fff, 1049px 709px #fff,
    1620px 1330px #fff, 658px 638px #fff, 1385px 919px #fff, 1775px 1228px #fff,
    1676px 972px #fff, 638px 912px #fff, 550px 695px #fff, 874px 1031px #fff,
    265px 857px #fff, 1540px 723px #fff, 1724px 430px #fff, 75px 1735px #fff,
    878px 433px #fff, 1611px 1431px #fff, 1795px 612px #fff, 1261px 1098px #fff,
    616px 1887px #fff, 1772px 452px #fff, 1164px 113px #fff, 391px 1729px #fff,
    1166px 1668px #fff, 904px 915px #fff, 1869px 644px #fff, 174px 1650px #fff,
    849px 624px #fff, 582px 947px #fff, 238px 948px #fff, 1787px 789px #fff,
    1083px 1315px #fff, 839px 531px #fff, 246px 1516px #fff, 875px 275px #fff,
    561px 1499px #fff, 1455px 523px #fff, 1053px 289px #fff, 1208px 918px #fff,
    1119px 1793px #fff, 1916px 1713px #fff, 1741px 770px #fff, 70px 1623px #fff,
    994px 385px #fff, 1552px 296px #fff, 1412px 1107px #fff, 1668px 1872px #fff,
    1153px 1785px #fff, 1953px 648px #fff, 1486px 1399px #fff, 1806px 479px #fff,
    1865px 1495px #fff, 1147px 1822px #fff, 1354px 1703px #fff,
    1076px 776px #fff, 1221px 1019px #fff, 1423px 1695px #fff,
    1017px 1355px #fff, 310px 308px #fff, 1115px 1032px #fff, 1611px 953px #fff,
    1077px 1812px #fff, 1004px 893px #fff, 177px 672px #fff, 1869px 1390px #fff,
    445px 1771px #fff, 1990px 750px #fff, 166px 608px #fff, 913px 527px #fff,
    739px 127px #fff, 54px 575px #fff, 899px 1110px #fff, 91px 1209px #fff,
    1881px 67px #fff, 1900px 777px #fff, 925px 959px #fff, 715px 152px #fff,
    548px 1358px #fff, 256px 1351px #fff, 1183px 327px #fff, 846px 768px #fff,
    960px 912px #fff, 1666px 1918px #fff, 139px 769px #fff, 579px 1774px #fff,
    1508px 1780px #fff, 975px 1516px #fff, 198px 1352px #fff, 1097px 894px #fff,
    78px 1486px #fff, 1037px 1183px #fff, 287px 1064px #fff, 141px 650px #fff,
    748px 930px #fff, 1731px 487px #fff, 1376px 1898px #fff, 801px 473px #fff,
    1442px 575px #fff, 1154px 1015px #fff, 1738px 1958px #fff, 16px 1903px #fff,
    1254px 1160px #fff, 425px 308px #fff, 889px 792px #fff, 414px 396px #fff,
    1438px 500px #fff, 1918px 691px #fff, 1759px 775px #fff, 772px 1617px #fff,
    1054px 233px #fff, 1880px 1951px #fff, 1087px 954px #fff, 1530px 446px #fff,
    1883px 698px #fff, 1824px 1983px #fff, 1433px 778px #fff, 1470px 1896px #fff,
    143px 627px #fff, 1062px 1225px #fff, 897px 1551px #fff, 224px 1468px #fff,
    631px 173px #fff, 1120px 476px #fff, 569px 1490px #fff, 244px 891px #fff,
    1626px 1868px #fff, 497px 1569px #fff, 498px 1398px #fff, 95px 1561px #fff,
    934px 657px #fff, 101px 353px #fff, 221px 1431px #fff, 1407px 1424px #fff,
    888px 1283px #fff, 1910px 1148px #fff, 81px 292px #fff, 1802px 383px #fff,
    1196px 626px #fff, 854px 1876px #fff, 544px 529px #fff, 1882px 1115px #fff,
    1124px 1268px #fff, 424px 70px #fff, 567px 310px #fff, 1659px 550px #fff,
    1484px 714px #fff, 72px 497px #fff, 1109px 1088px #fff, 1415px 1780px #fff,
    1877px 486px #fff, 1349px 1151px #fff, 491px 336px #fff, 380px 1675px #fff,
    889px 1985px #fff, 127px 274px #fff, 1638px 797px #fff, 437px 807px #fff,
    183px 1421px #fff, 1153px 1381px #fff, 653px 1805px #fff, 1666px 1763px #fff,
    1418px 1676px #fff, 1444px 1763px #fff, 1115px 31px #fff, 1305px 628px #fff,
    1464px 406px #fff, 1769px 1227px #fff, 1169px 224px #fff, 1213px 1155px #fff,
    1213px 1833px #fff, 14px 865px #fff, 1773px 797px #fff, 1063px 1685px #fff,
    756px 1379px #fff, 1867px 1414px #fff, 207px 1941px #fff, 549px 1410px #fff,
    447px 1609px #fff, 380px 199px #fff, 1969px 993px #fff, 756px 594px #fff,
    384px 1507px #fff, 949px 327px #fff, 1610px 1483px #fff, 456px 1729px #fff,
    576px 1052px #fff, 1202px 1451px #fff, 462px 638px #fff, 316px 1422px #fff,
    1925px 20px #fff, 1246px 1177px #fff, 1182px 269px #fff, 1074px 394px #fff,
    1338px 1499px #fff, 1854px 1197px #fff, 1850px 585px #fff,
    1478px 1414px #fff, 1253px 208px #fff, 381px 83px #fff, 51px 787px #fff,
    1746px 538px #fff, 612px 899px #fff, 1590px 1436px #fff, 1026px 401px #fff,
    161px 680px #fff, 1306px 1416px #fff, 1168px 287px #fff, 436px 499px #fff,
    870px 1933px #fff, 1991px 1233px #fff, 127px 1316px #fff, 1587px 1880px #fff,
    395px 589px #fff, 1629px 851px #fff, 1239px 968px #fff, 1078px 48px #fff,
    1009px 17px #fff, 1492px 518px #fff, 91px 1119px #fff, 347px 760px #fff,
    863px 995px #fff, 658px 1912px #fff, 77px 1536px #fff, 1204px 838px #fff,
    1528px 1617px #fff, 242px 228px #fff, 1393px 180px #fff, 357px 1757px #fff,
    490px 882px #fff, 457px 1034px #fff, 1743px 882px #fff, 993px 515px #fff,
    1954px 651px #fff, 700px 630px #fff, 313px 1373px #fff, 1563px 175px #fff,
    889px 1601px #fff, 1086px 1770px #fff, 924px 1213px #fff, 1072px 429px #fff,
    1011px 1633px #fff, 544px 187px #fff, 496px 1564px #fff, 1496px 304px #fff,
    464px 1418px #fff, 715px 49px #fff, 1026px 1449px #fff, 896px 444px #fff,
    1961px 1358px #fff, 1969px 1143px #fff, 1679px 290px #fff,
    1028px 1555px #fff, 413px 939px #fff, 1137px 1010px #fff, 613px 1111px #fff,
    1443px 559px #fff, 340px 1856px #fff, 1970px 806px #fff, 865px 55px #fff,
    707px 909px #fff, 470px 121px #fff, 1679px 333px #fff, 1823px 571px #fff,
    365px 196px #fff, 495px 1290px #fff, 387px 676px #fff, 167px 663px #fff,
    774px 954px #fff, 565px 1744px #fff, 615px 402px #fff, 52px 603px #fff,
    440px 1601px #fff, 695px 1659px #fff, 829px 1073px #fff, 1450px 343px #fff,
    407px 1373px #fff, 419px 450px #fff, 1251px 938px #fff, 734px 1680px #fff,
    434px 915px #fff, 1009px 241px #fff, 1219px 1025px #fff, 325px 752px #fff,
    1455px 176px #fff, 159px 1832px #fff, 815px 6px #fff, 929px 1287px #fff,
    1498px 1124px #fff, 1560px 506px #fff, 1039px 1494px #fff, 57px 406px #fff,
    1478px 1319px #fff, 865px 284px #fff, 1669px 1624px #fff, 1205px 1778px #fff,
    248px 1267px #fff, 295px 1692px #fff, 1254px 1087px #fff, 1497px 1868px #fff,
    210px 358px #fff, 1008px 673px #fff, 1971px 1725px #fff, 895px 1988px #fff,
    1122px 1750px #fff, 1575px 855px #fff, 2000px 1493px #fff,
    1638px 1125px #fff, 1829px 808px #fff, 1232px 1177px #fff, 974px 1275px #fff,
    586px 908px #fff, 1565px 590px #fff, 1716px 869px #fff, 515px 851px #fff,
    534px 705px #fff, 1400px 1798px #fff, 1675px 817px #fff, 1715px 806px #fff,
    724px 541px #fff, 105px 821px #fff, 1987px 1004px #fff, 497px 1376px #fff,
    1497px 121px #fff, 879px 1468px #fff, 358px 1594px #fff, 1857px 1016px #fff,
    1298px 1795px #fff, 1194px 1143px #fff, 1129px 1486px #fff,
    887px 1210px #fff, 1375px 1267px #fff, 1781px 1215px #fff,
    1487px 1302px #fff, 756px 142px #fff, 826px 1403px #fff, 762px 1104px #fff,
    1724px 49px #fff, 740px 956px #fff, 970px 737px #fff, 784px 473px #fff,
    313px 1422px #fff, 1036px 327px #fff, 975px 949px #fff, 1082px 1495px #fff,
    727px 382px #fff, 1828px 1570px #fff, 527px 1506px #fff, 385px 170px #fff,
    1654px 481px #fff, 1472px 1739px #fff, 1712px 759px #fff, 108px 1597px #fff,
    1968px 987px #fff, 731px 571px #fff, 1161px 110px #fff, 592px 733px #fff,
    1481px 1176px #fff, 1259px 1637px #fff, 1716px 745px #fff, 287px 1821px #fff,
    908px 991px #fff, 604px 692px #fff, 686px 1682px #fff, 1328px 1319px #fff,
    1347px 213px #fff, 1525px 1939px #fff, 887px 1802px #fff, 1491px 883px #fff,
    414px 336px #fff, 929px 642px #fff, 1597px 1732px #fff, 575px 878px #fff,
    1483px 17px #fff, 1255px 1274px #fff, 1350px 1031px #fff, 142px 466px #fff,
    1240px 1663px #fff, 1074px 707px #fff, 1036px 586px #fff, 1045px 929px #fff,
    343px 545px #fff, 1642px 1727px #fff, 1048px 1145px #fff, 681px 756px #fff,
    1275px 445px #fff, 58px 166px #fff, 308px 1386px #fff, 85px 1687px #fff,
    1px 1809px #fff, 1430px 1496px #fff, 536px 1912px #fff, 1218px 271px #fff,
    1225px 1623px #fff, 1521px 199px #fff, 297px 542px #fff, 882px 350px #fff,
    68px 756px #fff, 1369px 521px #fff, 1572px 806px #fff, 1791px 1591px #fff,
    515px 233px #fff, 482px 809px #fff, 214px 568px #fff, 1459px 1856px #fff,
    624px 334px #fff, 1064px 1518px #fff, 989px 216px #fff, 667px 564px #fff,
    899px 860px #fff, 436px 1764px #fff, 1737px 1684px #fff, 1987px 349px #fff,
    1395px 15px #fff, 1722px 1672px #fff, 1508px 1133px #fff, 1961px 1941px #fff,
    652px 1041px #fff, 758px 902px #fff, 473px 1577px #fff, 1354px 841px #fff,
    1625px 578px #fff, 890px 510px #fff, 1834px 1091px #fff, 1434px 1495px #fff,
    1104px 649px #fff, 637px 1817px #fff, 760px 1888px #fff, 1273px 1865px #fff,
    1073px 808px #fff, 445px 1px #fff, 1342px 413px #fff, 65px 686px #fff,
    482px 543px #fff, 1324px 1097px #fff, 1022px 885px #fff, 182px 1293px #fff,
    162px 1537px #fff, 910px 1412px #fff, 1776px 1593px #fff, 929px 494px #fff,
    1407px 1847px #fff, 370px 1891px #fff, 825px 74px #fff, 927px 1780px #fff,
    173px 1014px #fff, 724px 549px #fff, 740px 1949px #fff, 442px 1488px #fff,
    492px 1314px #fff, 1598px 897px #fff, 1050px 1399px #fff, 152px 789px #fff,
    646px 38px #fff, 585px 485px #fff, 178px 1645px #fff, 849px 101px #fff,
    1694px 3px #fff, 1813px 1585px #fff, 696px 974px #fff, 59px 1589px #fff,
    1319px 1085px #fff, 962px 1112px #fff, 516px 134px #fff, 984px 94px #fff,
    1156px 412px #fff, 881px 1900px #fff, 1466px 1523px #fff, 273px 805px #fff,
    287px 487px #fff, 1144px 111px #fff, 848px 454px #fff, 362px 877px #fff,
    1799px 945px #fff, 1741px 1474px #fff, 1539px 1910px #fff,
    1417px 1902px #fff, 901px 954px #fff, 1115px 23px #fff, 83px 1389px #fff,
    1573px 1813px #fff, 1178px 137px #fff, 1497px 1890px #fff, 540px 1464px #fff,
    445px 1354px #fff, 542px 1732px #fff, 206px 1312px #fff, 1625px 953px #fff,
    620px 1650px #fff, 101px 400px #fff, 1719px 1157px #fff, 991px 933px #fff,
    28px 1165px #fff, 908px 453px #fff, 817px 1697px #fff, 20px 1312px #fff,
    34px 159px #fff, 1952px 34px #fff, 1283px 62px #fff, 28px 1401px #fff,
    1046px 52px #fff, 1839px 1203px #fff, 1434px 19px #fff, 171px 1980px #fff,
    1479px 1421px #fff, 1089px 648px #fff, 1832px 642px #fff, 41px 1021px #fff,
    1696px 1014px #fff, 1743px 40px #fff, 1889px 1462px #fff, 972px 1257px #fff,
    1912px 886px #fff, 1958px 1091px #fff, 738px 1699px #fff, 839px 58px #fff,
    1792px 1489px #fff, 357px 924px #fff, 194px 764px #fff, 1927px 88px #fff,
    1500px 719px #fff, 1089px 336px #fff, 1988px 9px #fff, 1276px 748px #fff,
    828px 1453px #fff, 83px 1064px #fff, 1422px 1789px #fff, 1071px 971px #fff,
    559px 1540px #fff, 1797px 687px #fff, 1010px 509px #fff, 470px 1321px #fff,
    922px 339px #fff, 1295px 909px #fff, 1798px 654px #fff, 1996px 41px #fff,
    1901px 349px #fff, 1985px 1618px #fff, 1737px 822px #fff, 112px 1079px #fff,
    1787px 25px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1118px 14640px #fff, 1030px 1055px #fff, 1845px 1940px #fff,
    1691px 1237px #fff, 1895px 82px #fff, 1433px 1243px #fff, 1360px 859px #fff,
    1861px 1877px #fff, 73px 724px #fff, 843px 585px #fff, 1932px 1983px #fff,
    1154px 1657px #fff, 403px 415px #fff, 1464px 1085px #fff, 130px 1492px #fff,
    702px 383px #fff, 5px 920px #fff, 525px 484px #fff, 1832px 636px #fff,
    1247px 1418px #fff, 1770px 1884px #fff, 140px 810px #fff, 1646px 922px #fff,
    780px 1927px #fff, 133px 1582px #fff, 1400px 1676px #fff, 203px 733px #fff,
    1927px 608px #fff, 709px 1700px #fff, 664px 1808px #fff, 1594px 1119px #fff,
    503px 452px #fff, 419px 1200px #fff, 1184px 1175px #fff, 7px 1590px #fff,
    784px 649px #fff, 1047px 1951px #fff, 788px 714px #fff, 1027px 26px #fff,
    547px 226px #fff, 1012px 1273px #fff, 159px 1464px #fff, 532px 1140px #fff,
    1319px 703px #fff, 265px 132px #fff, 454px 1540px #fff, 1193px 1832px #fff,
    1624px 477px #fff, 470px 680px #fff, 1161px 359px #fff, 1239px 1670px #fff,
    545px 1433px #fff, 1639px 1691px #fff, 1622px 187px #fff, 1894px 1179px #fff,
    1474px 1332px #fff, 1426px 1823px #fff, 1227px 657px #fff,
    1055px 1508px #fff, 1150px 1015px #fff, 1730px 606px #fff, 811px 909px #fff,
    1690px 1719px #fff, 283px 904px #fff, 997px 1810px #fff, 1649px 1494px #fff,
    1558px 279px #fff, 1173px 1715px #fff, 1786px 84px #fff, 372px 1422px #fff,
    1472px 1053px #fff, 1888px 699px #fff, 1615px 429px #fff, 1358px 1519px #fff,
    1110px 739px #fff, 1273px 157px #fff, 818px 1815px #fff, 1920px 955px #fff,
    95px 992px #fff, 1750px 1868px #fff, 999px 1301px #fff, 1108px 207px #fff,
    459px 1074px #fff, 2px 548px #fff, 1393px 1910px #fff, 339px 207px #fff,
    1467px 526px #fff, 1158px 1752px #fff, 34px 1305px #fff, 1186px 270px #fff,
    315px 1601px #fff, 815px 625px #fff, 1375px 205px #fff, 797px 1746px #fff,
    1677px 1775px #fff, 1316px 383px #fff, 1497px 707px #fff, 577px 56px #fff,
    928px 1755px #fff, 787px 974px #fff, 867px 918px #fff, 322px 1930px #fff,
    1048px 1865px #fff, 1453px 836px #fff, 1875px 848px #fff, 1256px 720px #fff,
    48px 1744px #fff, 977px 160px #fff, 716px 1315px #fff, 1264px 1480px #fff,
    1272px 88px #fff, 1610px 98px #fff, 987px 1539px #fff, 144px 783px #fff,
    563px 779px #fff, 459px 1771px #fff, 1671px 1354px #fff, 1357px 217px #fff,
    987px 1548px #fff, 1222px 1526px #fff, 10px 1027px #fff, 323px 1768px #fff,
    264px 433px #fff, 924px 1339px #fff, 1175px 1456px #fff, 749px 1105px #fff,
    1152px 454px #fff, 1424px 928px #fff, 1510px 1403px #fff, 723px 940px #fff,
    30px 440px #fff, 1097px 364px #fff, 912px 767px #fff, 1592px 1559px #fff,
    1862px 990px #fff, 663px 1432px #fff, 1533px 668px #fff, 196px 746px #fff,
    1819px 1842px #fff, 1889px 1192px #fff, 1997px 46px #fff, 1134px 1233px #fff,
    1890px 94px #fff, 341px 715px #fff, 1180px 1083px #fff, 1056px 1069px #fff,
    1033px 731px #fff, 267px 345px #fff, 983px 864px #fff, 855px 1118px #fff,
    1450px 219px #fff, 1670px 1970px #fff, 1197px 959px #fff, 1958px 1177px #fff,
    506px 643px #fff, 393px 436px #fff, 1265px 995px #fff, 325px 457px #fff,
    43px 1993px #fff, 603px 187px #fff, 1900px 1067px #fff, 916px 1677px #fff,
    1566px 265px #fff, 1482px 1690px #fff, 525px 625px #fff, 13px 1688px #fff,
    1996px 870px #fff, 1224px 1690px #fff, 662px 1681px #fff, 1849px 1448px #fff,
    1641px 238px #fff, 604px 1978px #fff, 1993px 1906px #fff, 137px 143px #fff,
    118px 808px #fff, 420px 1081px #fff, 1062px 1660px #fff, 441px 365px #fff,
    1456px 657px #fff, 665px 264px #fff, 1391px 1107px #fff, 100px 999px #fff,
    1780px 252px #fff, 1584px 594px #fff, 370px 977px #fff, 1598px 1246px #fff,
    1918px 474px #fff, 1118px 1573px #fff, 289px 716px #fff, 1442px 495px #fff,
    74px 1482px #fff, 678px 214px #fff, 1115px 79px #fff, 1798px 1211px #fff,
    94px 557px #fff, 1718px 796px #fff, 333px 1292px #fff, 1995px 1196px #fff,
    1328px 745px #fff, 1835px 410px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1118px 14640px #fff, 1030px 1055px #fff, 1845px 1940px #fff,
    1691px 1237px #fff, 1895px 82px #fff, 1433px 1243px #fff, 1360px 859px #fff,
    1861px 1877px #fff, 73px 724px #fff, 843px 585px #fff, 1932px 1983px #fff,
    1154px 1657px #fff, 403px 415px #fff, 1464px 1085px #fff, 130px 1492px #fff,
    702px 383px #fff, 5px 920px #fff, 525px 484px #fff, 1832px 636px #fff,
    1247px 1418px #fff, 1770px 1884px #fff, 140px 810px #fff, 1646px 922px #fff,
    780px 1927px #fff, 133px 1582px #fff, 1400px 1676px #fff, 203px 733px #fff,
    1927px 608px #fff, 709px 1700px #fff, 664px 1808px #fff, 1594px 1119px #fff,
    503px 452px #fff, 419px 1200px #fff, 1184px 1175px #fff, 7px 1590px #fff,
    784px 649px #fff, 1047px 1951px #fff, 788px 714px #fff, 1027px 26px #fff,
    547px 226px #fff, 1012px 1273px #fff, 159px 1464px #fff, 532px 1140px #fff,
    1319px 703px #fff, 265px 132px #fff, 454px 1540px #fff, 1193px 1832px #fff,
    1624px 477px #fff, 470px 680px #fff, 1161px 359px #fff, 1239px 1670px #fff,
    545px 1433px #fff, 1639px 1691px #fff, 1622px 187px #fff, 1894px 1179px #fff,
    1474px 1332px #fff, 1426px 1823px #fff, 1227px 657px #fff,
    1055px 1508px #fff, 1150px 1015px #fff, 1730px 606px #fff, 811px 909px #fff,
    1690px 1719px #fff, 283px 904px #fff, 997px 1810px #fff, 1649px 1494px #fff,
    1558px 279px #fff, 1173px 1715px #fff, 1786px 84px #fff, 372px 1422px #fff,
    1472px 1053px #fff, 1888px 699px #fff, 1615px 429px #fff, 1358px 1519px #fff,
    1110px 739px #fff, 1273px 157px #fff, 818px 1815px #fff, 1920px 955px #fff,
    95px 992px #fff, 1750px 1868px #fff, 999px 1301px #fff, 1108px 207px #fff,
    459px 1074px #fff, 2px 548px #fff, 1393px 1910px #fff, 339px 207px #fff,
    1467px 526px #fff, 1158px 1752px #fff, 34px 1305px #fff, 1186px 270px #fff,
    315px 1601px #fff, 815px 625px #fff, 1375px 205px #fff, 797px 1746px #fff,
    1677px 1775px #fff, 1316px 383px #fff, 1497px 707px #fff, 577px 56px #fff,
    928px 1755px #fff, 787px 974px #fff, 867px 918px #fff, 322px 1930px #fff,
    1048px 1865px #fff, 1453px 836px #fff, 1875px 848px #fff, 1256px 720px #fff,
    48px 1744px #fff, 977px 160px #fff, 716px 1315px #fff, 1264px 1480px #fff,
    1272px 88px #fff, 1610px 98px #fff, 987px 1539px #fff, 144px 783px #fff,
    563px 779px #fff, 459px 1771px #fff, 1671px 1354px #fff, 1357px 217px #fff,
    987px 1548px #fff, 1222px 1526px #fff, 10px 1027px #fff, 323px 1768px #fff,
    264px 433px #fff, 924px 1339px #fff, 1175px 1456px #fff, 749px 1105px #fff,
    1152px 454px #fff, 1424px 928px #fff, 1510px 1403px #fff, 723px 940px #fff,
    30px 440px #fff, 1097px 364px #fff, 912px 767px #fff, 1592px 1559px #fff,
    1862px 990px #fff, 663px 1432px #fff, 1533px 668px #fff, 196px 746px #fff,
    1819px 1842px #fff, 1889px 1192px #fff, 1997px 46px #fff, 1134px 1233px #fff,
    1890px 94px #fff, 341px 715px #fff, 1180px 1083px #fff, 1056px 1069px #fff,
    1033px 731px #fff, 267px 345px #fff, 983px 864px #fff, 855px 1118px #fff,
    1450px 219px #fff, 1670px 1970px #fff, 1197px 959px #fff, 1958px 1177px #fff,
    506px 643px #fff, 393px 436px #fff, 1265px 995px #fff, 325px 457px #fff,
    43px 1993px #fff, 603px 187px #fff, 1900px 1067px #fff, 916px 1677px #fff,
    1566px 265px #fff, 1482px 1690px #fff, 525px 625px #fff, 13px 1688px #fff,
    1996px 870px #fff, 1224px 1690px #fff, 662px 1681px #fff, 1849px 1448px #fff,
    1641px 238px #fff, 604px 1978px #fff, 1993px 1906px #fff, 137px 143px #fff,
    118px 808px #fff, 420px 1081px #fff, 1062px 1660px #fff, 441px 365px #fff,
    1456px 657px #fff, 665px 264px #fff, 1391px 1107px #fff, 100px 999px #fff,
    1780px 252px #fff, 1584px 594px #fff, 370px 977px #fff, 1598px 1246px #fff,
    1918px 474px #fff, 1118px 1573px #fff, 289px 716px #fff, 1442px 495px #fff,
    74px 1482px #fff, 678px 214px #fff, 1115px 79px #fff, 1798px 1211px #fff,
    94px 557px #fff, 1718px 796px #fff, 333px 1292px #fff, 1995px 1196px #fff,
    1328px 745px #fff, 1835px 410px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1073px 2519px #fff, 1432px 1675px #fff, 774px 970px #fff,
    1737px 325px #fff, 63px 1107px #fff, 1360px 988px #fff, 1946px 1834px #fff,
    533px 1576px #fff, 1988px 1137px #fff, 1006px 945px #fff, 91px 1186px #fff,
    221px 1401px #fff, 1699px 399px #fff, 370px 1831px #fff, 575px 493px #fff,
    1326px 782px #fff, 1256px 808px #fff, 254px 1412px #fff, 1202px 372px #fff,
    1153px 1797px #fff, 107px 1462px #fff, 67px 616px #fff, 519px 1507px #fff,
    1809px 1485px #fff, 1958px 1046px #fff, 97px 1735px #fff, 1527px 224px #fff,
    1021px 1040px #fff, 1668px 662px #fff, 570px 1533px #fff, 779px 898px #fff,
    1384px 1070px #fff, 1738px 1952px #fff, 1076px 153px #fff, 807px 654px #fff,
    1470px 1504px #fff, 79px 1154px #fff, 570px 762px #fff, 972px 1624px #fff,
    616px 1719px #fff, 403px 1747px #fff, 1946px 1498px #fff, 235px 375px #fff,
    307px 453px #fff, 1076px 805px #fff, 871px 210px #fff, 1698px 268px #fff,
    89px 907px #fff, 376px 56px #fff, 832px 868px #fff, 278px 548px #fff,
    259px 1439px #fff, 750px 1037px #fff, 296px 1344px #fff, 576px 473px #fff,
    1474px 1594px #fff, 997px 1269px #fff, 217px 1674px #fff, 1946px 948px #fff,
    1443px 663px #fff, 655px 613px #fff, 1133px 574px #fff, 167px 27px #fff,
    811px 1701px #fff, 81px 971px #fff, 780px 1241px #fff, 1653px 957px #fff,
    1261px 1470px #fff, 1927px 1630px #fff, 631px 1914px #fff,
    1590px 1512px #fff, 994px 1774px #fff, 87px 674px #fff, 1471px 1647px #fff,
    1409px 210px #fff, 1967px 1314px #fff, 416px 1613px #fff, 1973px 1487px #fff,
    1031px 1135px #fff, 324px 1666px #fff, 348px 447px #fff, 1233px 219px #fff,
    1599px 1917px #fff, 1427px 1476px #fff, 140px 72px #fff, 680px 583px #fff,
    849px 629px #fff, 242px 1654px #fff, 993px 1099px #fff, 1808px 1766px #fff,
    1588px 159px #fff, 1058px 634px #fff, 192px 148px #fff, 456px 555px #fff,
    1347px 586px #fff, 1952px 124px #fff, 1698px 121px #fff, 89px 991px #fff,
    304px 1699px #fff, 581px 99px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1073px 8519px #fff, 1432px 1675px #fff, 774px 970px #fff,
    1737px 325px #fff, 63px 1107px #fff, 1360px 988px #fff, 1946px 1834px #fff,
    533px 1576px #fff, 1988px 1137px #fff, 1006px 945px #fff, 91px 1186px #fff,
    221px 1401px #fff, 1699px 399px #fff, 370px 1831px #fff, 575px 493px #fff,
    1326px 782px #fff, 1256px 808px #fff, 254px 1412px #fff, 1202px 372px #fff,
    1153px 1797px #fff, 107px 1462px #fff, 67px 616px #fff, 519px 1507px #fff,
    1809px 1485px #fff, 1958px 1046px #fff, 97px 1735px #fff, 1527px 224px #fff,
    1021px 1040px #fff, 1668px 662px #fff, 570px 1533px #fff, 779px 898px #fff,
    1384px 1070px #fff, 1738px 1952px #fff, 1076px 153px #fff, 807px 654px #fff,
    1470px 1504px #fff, 79px 1154px #fff, 570px 762px #fff, 972px 1624px #fff,
    616px 1719px #fff, 403px 1747px #fff, 1946px 1498px #fff, 235px 375px #fff,
    307px 453px #fff, 1076px 805px #fff, 871px 210px #fff, 1698px 268px #fff,
    89px 907px #fff, 376px 56px #fff, 832px 868px #fff, 278px 548px #fff,
    259px 1439px #fff, 750px 1037px #fff, 296px 1344px #fff, 576px 473px #fff,
    1474px 1594px #fff, 997px 1269px #fff, 217px 1674px #fff, 1946px 948px #fff,
    1443px 663px #fff, 655px 613px #fff, 1133px 574px #fff, 167px 27px #fff,
    811px 1701px #fff, 81px 971px #fff, 780px 1241px #fff, 1653px 957px #fff,
    1261px 1470px #fff, 1927px 1630px #fff, 631px 1914px #fff,
    1590px 1512px #fff, 994px 1774px #fff, 87px 674px #fff, 1471px 1647px #fff,
    1409px 210px #fff, 1967px 1314px #fff, 416px 1613px #fff, 1973px 1487px #fff,
    1031px 1135px #fff, 324px 1666px #fff, 348px 447px #fff, 1233px 219px #fff,
    1599px 1917px #fff, 1427px 1476px #fff, 140px 72px #fff, 680px 583px #fff,
    849px 629px #fff, 242px 1654px #fff, 993px 1099px #fff, 1808px 1766px #fff,
    1588px 159px #fff, 1058px 634px #fff, 192px 148px #fff, 456px 555px #fff,
    1347px 586px #fff, 1952px 124px #fff, 1698px 121px #fff, 89px 991px #fff,
    304px 1699px #fff, 581px 99px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
